.wizard-navigation.show
    h1 Wizard
    
    ul.sidebar-nav
        li(class="#{ current.source == 'index' ? 'active' : '' }")
            a(href='/wizard_uk_mtco/index.html') Measurement type
        li(class="#{ current.source == 'step-1' ? 'active' : '' }")
            a(href='/wizard_uk_mtco/step-1.html') Common Requirements
        li(class="#{ current.source == 'step-2' ? 'active' : '' }")
            a(href='/wizard_uk_mtco/step-2.html') Device Approval and Functionality Checks
            //- ul
            //-     li(class="#{ current.source == 'step-2_1' ? 'active' : '' }")
            //-         a(href='/wizard_uk_mtco/step-2_1.html') Continued
        li(class="#{ current.source == 'step-3' ? 'active' : '' }")
            a(href='/wizard_uk_mtco/step-3.html') Analogue Tachograph Calibration
        li(class="#{ current.source == 'step-4' ? 'active' : '' }")
            a(href='/wizard_uk_mtco/step-4.html') Test Chart Production
            //- ul
            //-     li(class="#{ current.source == 'step-4_1' ? 'active' : '' }")
            //-         a(href='/wizard_uk_mtco/step-4_1.html') Continued
        li(class="#{ current.source == 'step-5' ? 'active' : '' }")
          a(href='/wizard_uk_mtco/step-5.html') Speed for Speed Check and Seal System
          //- ul
          //-       li(class="#{ current.source == 'step-5_1' ? 'active' : '' }")
          //-           a(href='/wizard_uk_mtco/step-5_1.html') Continued
        li(class="#{ current.source == 'step-6' ? 'active' : '' }")
          a(href='/wizard_uk_mtco/step-6.html') Tachograph Record Sheet and Calibration Plaque

.wizard-navigation.hide
    h1 Wizard
    
    ul.sidebar-nav
        li(class="#{ current.source == 'index' ? 'active' : '' }")
            a(href='/wizard_uk_mtco_2/index.html') Measurement type
        li(class="#{ current.source == 'step-1' ? 'active' : '' }")
            a(href='/wizard_uk_mtco_2/step-1.html') Common Requirements
        li(class="#{ current.source == 'step-2' ? 'active' : '' }")
            a(href='/wizard_uk_mtco_2/step-2.html') Device Approval and Functionality Checks
            //- ul
            //-     li(class="#{ current.source == 'step-2_1' ? 'active' : '' }")
            //-         a(href='/wizard_uk_mtco_2/step-2_1.html') Continued
        li(class="#{ current.source == 'step-3' ? 'active' : '' }")
            a(href='/wizard_uk_mtco_2/step-3.html') Test Chart Production and Vehicle Test
        li(class="#{ current.source == 'step-4' ? 'active' : '' }")
            a(href='/wizard_uk_mtco_2/step-4.html') Tachograph Record Sheet and Calibration Plaque
