.wizard-navigation
    h1 French Wizard 
    
    ul.sidebar-nav
        //- li(class="#{ current.source == 'index' ? 'active' : '' }")
        //-     a(href='/wizard_fr/index.html') Measurement type
        li(class="#{ current.source == 'step-1' ? 'active' : '' }")
            a(href='/wizard_fr/step-1.html') Vehicle reception
        li(class="#{ current.source == 'step-2' ? 'active' : '' }")
            a(href='/wizard_fr/step-2.html') Starting inspection
        li(class="#{ current.source == 'step-3' ? 'active' : '' }")
            a(href='/wizard_fr/step-3.html') Vehicle datas checking
        li(class="#{ current.source == 'step-4' ? 'active' : '' }")
          a(href='/wizard_fr/step-4.html') Label data checking

        li(class="#{ current.source == 'step-5' ? 'active' : '' }")
          a(href='/wizard_fr/step-5.html') Tyre datas
        li(class="#{ current.source == 'step-6' ? 'active' : '' }")
          a(href='/wizard_fr/step-6.html') Selecting inspection type
        li(class="#{ current.source == 'step-7' ? 'active' : '' }")
          a(href='/wizard_fr/step-7.html') DTCO general checking
          ul
            li(class="#{ current.source == 'step-9' ? 'active' : '' }")
                a(href='/wizard_fr/step-9.html')  Continued

        li(class="#{ current.source == 'step-8' ? 'active' : '' }")
          a(href='/wizard_fr/step-8.html') KITAS checking
      
        li(class="#{ current.source == 'step-10' ? 'active' : '' }")
          a(href='/wizard_fr/step-10.html') DTCO Legal parameter checking

        li(class="#{ current.source == 'step-11' ? 'active' : '' }")
          a(href='/wizard_fr/step-11.html') DTCO Calibration

        li(class="#{ current.source == 'step-12' ? 'active' : '' }")
          a(href='/wizard_fr/step-12.html') Start speed test

        li(class="#{ current.source == 'step-13' ? 'active' : '' }")
          a(href='/wizard_fr/step-13.html') Vehicle 1000m distance test


        li(class="#{ current.source == 'step-14' ? 'active' : '' }")
          a(href='/wizard_fr/step-14.html') Create inspection report

        li(class="#{ current.source == 'dialogs' ? 'active' : '' }")
          a(href='/wizard_fr/dialogs.html') Dialogs


    



