.wizard-navigation
    h1 French Wizard 
    

    ul.sidebar-nav
        //- li(class="#{ current.source == 'index' ? 'active' : '' }")
        //-     a(href='/wizard_fr/index.html') Measurement type
        li(class="#{ current.source == 'step-1-e1' ? 'active' : '' }")
            a(href='/wizard_fr/step-1-e1.html') Vehicle reception
        li(class="#{ current.source == 'step-2-e1' ? 'active' : '' }")
            a(href='/wizard_fr/step-2-e1.html') Starting inspection
        li(class="#{ current.source == 'step-3-e1' ? 'active' : '' }")
            a(href='/wizard_fr/step-3-e1.html') Vehicle datas checking
        li(class="#{ current.source == 'step-4-e1' ? 'active' : '' }")
          a(href='/wizard_fr/step-4-e1.html') Label data checking

        li(class="#{ current.source == 'step-5-e1' ? 'active' : '' }")
          a(href='/wizard_fr/step-5-e1.html') Tyre datas
        li(class="#{ current.source == 'step-6-e1' ? 'active' : '' }")
          a(href='/wizard_fr/step-6-e1.html') Selecting inspection type
        li(class="#{ current.source == 'step-7-e1' ? 'active' : '' }")
          a(href='/wizard_fr/step-7-e1.html') DTCO general checking
          ul
            li(class="#{ current.source == 'step-9-e1' ? 'active' : '' }")
                a(href='/wizard_fr/step-9-e1.html')  Continued

        li(class="#{ current.source == 'step-8-e1' ? 'active' : '' }")
          a(href='/wizard_fr/step-8-e1.html') KITAS checking
      
        li(class="#{ current.source == 'step-10-e1' ? 'active' : '' }")
          a(href='/wizard_fr/step-10-e1.html') DTCO Legal parameter checking

        li(class="#{ current.source == 'step-11-e1' ? 'active' : '' }")
          a(href='/wizard_fr/step-11-e1.html') DTCO Calibration

        li(class="#{ current.source == 'step-12-e1' ? 'active' : '' }")
          a(href='/wizard_fr/step-12-e1.html') Start speed test

        li(class="#{ current.source == 'step-13-e1' ? 'active' : '' }")
          a(href='/wizard_fr/step-13-e1.html') Vehicle 1000m distance test


        li(class="#{ current.source == 'step-14-e1' ? 'active' : '' }")
          a(href='/wizard_fr/step-14-e1.html') Create inspection report

        li(class="#{ current.source == 'dialogs-e1' ? 'active' : '' }")
          a(href='/wizard_fr/dialogs-e1.html') Dialogs



